version: 2.0.{build}
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2017
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: CommonAssemblyInfo.*
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
init:
  - git config --global core.autocrlf true
before_build:
- cmd: >-
    nuget update -self

    nuget restore
build:
  verbosity: minimal
after_build:
- ps: >-
    foreach ($nuspec in get-childitem "*.nuspec" -Recurse){
        & nuget pack $nuspec -Version $env:APPVEYOR_BUILD_VERSION
    }
artifacts:
- path: '*.nupkg'
  name: NuGet package
deploy:
- provider: NuGet
  api_key:
    secure: 8zhFDYQibZPU/7LsL4So6R7KKcpj9Yxl1EknlWm4KtrFxzlY5WLDRdAk5p4npAeC
  skip_symbols: true
  on:
    branch: master
notifications:
- provider: Email
  to:
  - hinkel@fzi.de
  subject: NMF Build
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true