<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#@ include file="..\TestGenerationSettings.t4" once="true"#>
using Microsoft.VisualStudio.TestTools.UnitTesting;

namespace NMF.Expressions.Test.Arithmetic
{
    [TestClass]
    public class BasicArithmeticExpressionTests
    {
<#  
        foreach (var operation in new[] { 
            new {op = "+", name = "Add", arg1 = 5, arg2 = 7, result = 12, arg3 = 35, result2 = 42 },
            new {op = "-", name = "Substract", arg1 = 5, arg2 = 3, result = 2, arg3 = 45, result2 = 42 },
            new {op = "*", name = "Multiply", arg1 = 3, arg2 = 7, result = 21, arg3 = 6, result2 = 42 },
            new {op = "/", name = "Divide", arg1 = 16, arg2 = 2, result = 8, arg3 = 84, result2 = 42 }            
        } ){
#>
        #region <#=operation.name#>ExpressionTests

<#
                foreach(var type in new[] { "int", "long", "uint", "ulong", "float", "double", "decimal" })
                {
                    foreach(var checkType in new[] { "checked", "unchecked" })
                    {
                        foreach(var observable in new[] { false , true })
                        {
#>
        [TestMethod]
        public void <#=operation.name#><#=this.UppercaseFirst(checkType)#>_<#=this.UppercaseFirst(type)#>_<#=observable?"Observable_Update":"NoObservable_NoUpdate"#>()
        {
            <#=checkType#>
            {
                var updated = false;
                var dummy = new <#=observable?"ObservableDummy":"Dummy"#><<#=type#>>() { Item = (<#=type#>)<#=operation.arg1#> };

                var result = Observable.Expression(() => dummy.Item <#=operation.op#> (<#=type#>)<#=operation.arg2#>);

                result.ValueChanged += (o, e) =>
                {
<#
if(observable)
{
#>
                    Assert.AreEqual((<#= type#>)<#= operation.result #>, e.OldValue);
<#
}
#>
                    updated = true;
                };

                Assert.AreEqual((<#=type#>)<#=operation.result#>, result.Value);
                Assert.IsFalse(updated);

                dummy.Item = (<#=type#>)<#=operation.arg3#>;

                Assert.AreEqual((<#=type#>)<#=observable?operation.result2:operation.result#>, result.Value);
                Assert.<#=observable?"IsTrue":"IsFalse"#>(updated);
            }
        }

<#
                        }
                    }
                }
#>
                
        #endregion

<#
    }
#>
    }
}
<#+
    public string UppercaseFirst(string s)
    {
        if (string.IsNullOrEmpty(s))
        {
            return string.Empty;
        }

        char[] charArray = s.ToCharArray();
        charArray[0] = char.ToUpper(charArray[0]);
        return new string(charArray);
    }
#>